/* 
**************************************
****************BASE******************
**************************************
*/

/* couleurs */

:root {
    --colorBodyBackground: #f5e8d8;
    --colorMainBackground: #C2AB90;
    --colorMain: #E7BC77;
    --archeogreen: #547162;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--colorBodyBackground);
}

/* header */

header{
    background-color: var(--colorMainBackground);
    display: flex;
    align-items: center;
    padding: 0 10px 0 0;
    width: 100%;
    box-sizing: border-box;
}

nav {
    width: 100%;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.logoImg {
    height: 90px;
}

.menu {
    display: flex;
}

.lienHeader {
    transition: 0.15s ease-in-out;
    position: relative;
}

.lienHeader::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: 0.15s ease-in-out;
}

.lienHeader:hover:after {
    width: 100%;
}

.menu li {
    padding-left: 15px;
}

.openMenu , .closeMenu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 2rem;
    display: none;
}

.openMenu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.closeMenu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

/* footer */

footer {
    display: flex;
    font-weight: bold;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    margin: 0 0 0 0;
    padding: 10px;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
}

/* boutons communs */

#boutonPrincipal {
    color: white;
    background-color: var(--colorMain);
    border: 1px solid #000000;
    width: 240px;
    height: 45px;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

#boutonSecondaire {
    color: black;
    background-color: white;
    border: 1px solid #000000;
    width: 240px;
    height: 45px;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

/* reste */

a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

h2 {
    margin: 0 0 0 0;
}

input {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 25px;
    width: 300px;
    padding-left: 10px;
}

/* 
**************************************
***************AUTRE******************
**************************************
*/

/* Header responsive */

@media (max-width: 720px) or (max-device-width: 1080px) {
    .menu {
        flex-direction: column;
        align-items: center;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        transition: all 0.2s ease-in-out;
        background-color: var(--colorMain);
        width: 35%;
        padding-top: 18px;
        overflow: scroll;
    }

    .menu li {
        margin-top: 40px;
        padding-left: 15%;
    }

    .lienHeader {
        padding: 10px;
    }

    .openMenu , .closeMenu {
        display: block;
    }

    #check:checked ~ .menu {
        right: 0;
    } 
}

@media (max-device-width: 1080px) {
    .logoImg {
        height: 150px;
    }

    .openMenu , .closeMenu {
        font-size: 3rem;
    }

    .openMenu {
        right: 60px;
    }

    .closeMenu {
        top: 48px;
        right: 66px;
    }

    .lienHeader {
        font-size: xx-large;
    }
}